subtaskA/data/.DS_Store
subtaskA/data/m3detect_mgram.model.pkl
subtaskA/data/prep_data.csv
subtaskA/data/subtaskA_dev_monolingual.jsonl
subtaskA/data/subtaskA_prediction_monolingual_baseline.jsonl
subtaskA/data/subtaskA_prediction_monolingual2.jsonl
subtaskA/data/subtaskA_train_monolingual.jsonl
subtaskA/data/test
xlm-roberta-base/subtaskA/1/best/config.json
xlm-roberta-base/subtaskA/1/best/model.safetensors
xlm-roberta-base/subtaskA/1/best/sentencepiece.bpe.model
xlm-roberta-base/subtaskA/1/best/special_tokens_map.json
xlm-roberta-base/subtaskA/1/best/tokenizer_config.json
xlm-roberta-base/subtaskA/1/best/tokenizer.json
xlm-roberta-base/subtaskA/1/best/training_args.bin
xlm-roberta-base/subtaskA/1/checkpoint-1198/config.json
xlm-roberta-base/subtaskA/1/checkpoint-1198/model.safetensors
xlm-roberta-base/subtaskA/1/checkpoint-1198/optimizer.pt
xlm-roberta-base/subtaskA/1/checkpoint-1198/rng_state.pth
xlm-roberta-base/subtaskA/1/checkpoint-1198/scheduler.pt
xlm-roberta-base/subtaskA/1/checkpoint-1198/sentencepiece.bpe.model
xlm-roberta-base/subtaskA/1/checkpoint-1198/special_tokens_map.json
xlm-roberta-base/subtaskA/1/checkpoint-1198/tokenizer_config.json
xlm-roberta-base/subtaskA/1/checkpoint-1198/tokenizer.json
xlm-roberta-base/subtaskA/1/checkpoint-1198/trainer_state.json
xlm-roberta-base/subtaskA/1/checkpoint-1198/training_args.bin
xlm-roberta-base/subtaskA/1/checkpoint-1797/config.json
xlm-roberta-base/subtaskA/1/checkpoint-1797/model.safetensors
xlm-roberta-base/subtaskA/1/checkpoint-1797/optimizer.pt
xlm-roberta-base/subtaskA/1/checkpoint-1797/rng_state.pth
xlm-roberta-base/subtaskA/1/checkpoint-1797/scheduler.pt
xlm-roberta-base/subtaskA/1/checkpoint-1797/sentencepiece.bpe.model
xlm-roberta-base/subtaskA/1/checkpoint-1797/special_tokens_map.json
xlm-roberta-base/subtaskA/1/checkpoint-1797/tokenizer_config.json
xlm-roberta-base/subtaskA/1/checkpoint-1797/tokenizer.json
xlm-roberta-base/subtaskA/1/checkpoint-1797/trainer_state.json
xlm-roberta-base/subtaskA/1/checkpoint-1797/training_args.bin
xlm-roberta-base/subtaskA/1/checkpoint-599/config.json
xlm-roberta-base/subtaskA/1/checkpoint-599/model.safetensors
xlm-roberta-base/subtaskA/1/checkpoint-599/optimizer.pt
xlm-roberta-base/subtaskA/1/checkpoint-599/rng_state.pth
xlm-roberta-base/subtaskA/1/checkpoint-599/scheduler.pt
xlm-roberta-base/subtaskA/1/checkpoint-599/sentencepiece.bpe.model
xlm-roberta-base/subtaskA/1/checkpoint-599/special_tokens_map.json
xlm-roberta-base/subtaskA/1/checkpoint-599/tokenizer_config.json
xlm-roberta-base/subtaskA/1/checkpoint-599/tokenizer.json
xlm-roberta-base/subtaskA/1/checkpoint-599/trainer_state.json
xlm-roberta-base/subtaskA/1/checkpoint-599/training_args.bin
xlm-roberta-base/subtaskA/1/runs/Dec18_19-02-24_tornade-mac/events.out.tfevents.1702918944.tornade-mac.13145.0
subtaskA/baseline/.DS_Store
.DS_Store
subtaskA/data/test
subtaskA/data/test
subtaskA/model_3mdetect/RoBERTa for text classification.ipynb
subtaskA/format_checker/__pycache__/format_checker.cpython-311.pyc
Covaci Silviu/M3_detect_ngram2.py
best_distilbert.pt
best_roberta.pt
best_roberta-large.pt
best_distilbert v1.pt
3mdetect_distilbert-base-uncased.pt
m3detect_mgram.model.pkl
subtaskA/data/models/202401110953_subtaskA_monolingual_roberta-large.pt
subtaskA/data/models/202401112145_subtaskA_monolingual_roberta-large.pt
subtaskA/data/models/202401120919_subtaskA_monolingual_distilbert-base-uncased.pt
subtaskA/data/models/202401121124_subtaskA_monolingual_distilbert-base-uncased.pt
subtaskA/data/models/202401121508_subtaskA_monolingual_distilbert-base-uncased.pt
subtaskA/data/models/202401131813_subtaskA_monolingual_roberta-base.pt
3mdetect_adamw__distilbert-base-uncased.pt
3mdetect_adamw_cls1_distilbert-base-uncased.pt
3mdetect_finetune1__distilbert-base-uncased.pt
202401110953_subtaskA_monolingual_roberta-large.pt
subtaskA/data/models/202401150757_subtaskA_monolingual_bert-base-uncased.pt
subtaskA/data/models/202401161438_subtaskA_monolingual_distilbert-base-uncased.pt
subtaskA/data/models/202401201256_subtaskA_monolingual_FacebookAI_xlm-roberta-base.pt
subtaskA/data/models/202401201729_subtaskA_monolingual_FacebookAI_xlm-roberta-base.pt
subtaskA/data/models/202401221545_subtaskA_monolingual_roberta-base.pt
subtaskA/data/models/202401231736_subtaskA_monolingual_distilbert-base-multilingual-cased.pt
subtaskA/data/models/202401240937_subtaskA_monolingual_bert-base-multilingual-cased.pt
subtaskA/data/models/202401241800_subtaskA_monolingual_FacebookAI_xlm-roberta-large.pt
subtaskA/data/models/202401251752_subtaskA_monolingual_distilbert-base-uncased.pt
subtaskA/data/models/202401261730_subtaskA_monolingual_roberta-base.pt
subtaskA/data/example_dev_data_monolingual.csv
subtaskA/data/example_dev_data_multilingual.csv
subtaskA/data/example_train_data_monolingual.csv
subtaskA/data/example_train_data_multilingual.csv
subtaskA/data/subtaskA_dev_multilingual.jsonl
subtaskA/data/subtaskA_prediction_monolingual3.jsonl
subtaskA/data/subtaskA_test_monolingual.jsonl
subtaskA/data/subtaskA_test_multilingual.jsonl
subtaskA/data/subtaskA_train_monolingual.csv
subtaskA/data/subtaskA_train_multilingual.jsonl
Covaci Silviu/test_albert1.py
Covaci Silviu/test_albert.py
Covaci Silviu/M3_ALBERT_training.py
Covaci Silviu/M3_detect_ngram2.py
classes.jpg
classes.png
